/*-----PAGE INDEX-----*/
.inscription{
    margin-top: 8%;
}

.input-group{
    margin-bottom: 25px;
}

.inscription .row{
    max-width: 500px;
    margin: 0 auto;
}

.idex_btn div:nth-child(1) button{
    display: block;
    width: auto;
    margin: 0 auto 50px auto;
}

.icon-lock img {
    display: block;
    width: auto;
    margin: 0 auto;
}

.cadre {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 6px grey;
    margin-top: 5%;
}

body {
    background-color: #F5F5F5;
}

.mdpoublie {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 8%
}

.message-error {
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #F08080;
    background-color:  	#F08080;
    text-align: center;
    margin-top: 10px;
}

.password{
    text-align: center;
    padding-top: 75px;
}

.needs-validation{
    max-width: 50%;
    margin: 0 auto;
}

.needs-validation .form-row{
    margin-bottom: 15px;
}

.password img{
    margin-bottom: 50px;
}

.edit_pass{
    max-width: 50%;
    margin: 5% auto 0 auto;
}

.edit_pass form{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.edit_pass .text-center{
    margin-bottom: 25px;
}

.edit_pass img{
    display: block;
    margin: 0 auto 50px auto;
}

.liste{
    max-width: 65%;
    margin: 5% auto 0 auto;
}

.liste img{
    display: block;
    margin: 0 auto 50px auto;
}

.profil{
    max-width: 65%;
    margin: 2% auto 0 auto;
}

.profil img{
    display: block;
    margin: 0 auto 50px auto;
}

.profil .text-center{
    margin: 0 auto 15px auto;
    max-width: 50%;
}

.profil button{
    display: block;
    margin: 25px auto 0 auto;
}

.btn_profil{
    display: block;
    width:  275px;
    margin: 75px auto 0 auto !important;
}

.edit_pass{
    max-width: 65%;
    margin: 4% auto 0 auto;
}